input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: lightgray 2px solid;
}

label {
    pointer-events: none;
    display: block;
    top: 0;
    width: 100%;
    transition: 0.3s;
}

input:focus ~ label{
    top: -20px;
}
