.container-register {
    z-index: 1;
    width: 50%;
    height: 100%;
    position: relative;
}
.container-register::after {
    content: ' ';
    width: 100%;
    height: 100%;   
    position: absolute;
    background-color:black;
    z-index: -1;
    opacity: 55%;
}
.input-register {
    border-bottom: 2px solid white;
}

@media (max-width: 576px) {
    
    .container-register {
        left: 0;
        width: 100%;
        height: 50%;
    }

}