#root {
    width: 100%;
    height: 100%;
    background-image: url(../public/Background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
} 
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container-card {
    position: relative;
}

.container-card-wall {
    background-image: url(../public/3563935.jpg);
    background-size: contain;
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    transition: 0.5s;
    z-index: 999;
}

.input-form {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.label-form {
    pointer-events: none;
    display: block;
    top: 0;
    width: 100%;
    transition: 0.3s;
}

.input-form::placeholder {
    color: transparent;
}

.input-form:valid ~ .label-form {
    top: -20px;
}
.input-form:focus ~ .label-form {
    top: -20px;
}

.text-blue {
    color: #023e8a;
}
.bg-blue {
    background-color: #023e8a;
}

@media (max-width: 576px) {
    .container-card-wall {
        width: 75%;
        height: 25%;
        display: none;
    }
}